
.customBg {
    background-color:  rgba(13, 1, 24, 0.959);
  }
  .navbar.navbar-expand-lg.customNav.customBg .navbar-nav .nav-link {
    color: rgb(96, 195, 252);
  }
  
  .navbar.navbar-expand-lg.customNav.customBg .navbar-brand {
    color: rgb(239, 239, 251); 
  }
  
  .navbar-toggler-icon .navbar-toggler-icon .customBg {
    color: rgb(247, 252, 252);
  }  
/* style the hero-section */
.hero-banner {
    color: whitesmoke;
    background-color: rgba(13, 1, 24, 0.959);
}

.hero-banner img {
    float: right;
    object-fit: contain;
    padding: 1em;
}

.hero-banner div div h1 {
    display: inline-block;
}

/* Styling the main section */
.main{
    background-color: rgb(179, 245, 247);
}
#work{
    padding-left: 1.5rem;
    padding-top: 1rem;
}
.body {
    margin: 1em;
}

.contact ul div {
    display: inline-block;
    margin-left: 1em;
}

.card{ background-color: rgb(179, 245, 247);
    
}
.card-body h5{display: inline-block;

}

/* Style footer */
.footer {
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    background-color: rgb(119, 118, 118);
}

.footer ul li {
    display: inline-block;
    font-size: 10px;
}
.shadow .p-3 .mb-5 .customBg{
    background-color: rgb(119, 118, 118); 
}
